*.[oa]
.deps
.dirstamp
Makefile
Makefile.in

/Doxyfile
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/configure~
/depcomp
/install-sh
/ltmain.sh
/missing
/psid64.spec

/include/sidplay/sidconfig.h
/include/sidplay/sidint.h

/src/config.h
/src/config.h.in
/src/config.h.in~
/src/psid64
/src/stamp-h1
